.archive-wrapper {
  margin-top: 120px;
  padding-bottom: 51px;
  overflow: hidden;
}

.archive-post {
  overflow: hidden;
  margin-bottom: 30px;
}

.archive-post h1 {
  font-size: 26px;
  font-weight: normal;
}

.archive-post a {
  text-decoration: none;
  display: inline-block;
}

.archive-post a > h2 {
  font-size: 22px;
  color: #606060;
  display: inline;
  font-weight: normal;
  display: inline-block;
  margin: 0;
}

.archive-post time {
  display: inline-block;
  width: 60px;
  color: #808080;
}

.archive-post li {
  list-style: none;
  margin-bottom: 20px;
}