<div id="pop" class="popover" role="tooltip">
  <div class="arrow"></div>
  <img class="popover-img" src="<%= theme.avatar_path %>">
  <div class="popover-info">
    <h2><%= theme.name %></h2>
    <h4>About Me</h4>
    <p><%= theme.description %></p><h4>Find Me</h4>
    <ul>
      <li>GitHub: <a href="<%= theme.find.github %>" target="_blank">LookTail</a>
      </li>
    </ul>
  </div>
</div>