<footer class="footer">
  <p>© 2017 <a href="<%= theme.find.github %>" target="_blank"><%= config.author %></a></p>
  <p>Theme - <a href="" target="_blank">TailTail</a></p>
  <p>Powered by <a href="https://hexo.io" target="_blank">Hexo</a></p>
</footer>